# Dependências
node_modules
npm-debug.log

# Next.js
.next
out

# Testes
coverage
tests

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Misc
.DS_Store
*.pem

# Environment
.env
.env.local
.env*.local

# README e documentação de desenvolvimento
README.md
docs
